[submodule "MagicKit"]
	path = MagicKit
	url = https://github.com/aidansteele/MagicKit.git
[submodule "RestKit"]
	path = RestKit
	url = git://github.com/RestKit/RestKit.git
[submodule "SSZipArchive"]
	path = SSZipArchive
	url = https://github.com/soffes/ssziparchive.git
