<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Barrel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1415540E1442B3B300A01683</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BEF2A9311682A530090F72B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37C802FF101564A300356EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3887A7F51024D1F9000FC4CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>820EB7391483F9A2008EC398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8227753E148946DF00B19E27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82C9C96F0F080C7F0071460B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83F37141140BB166005A7353</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D15AC270486D014006FF6A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>943C80111708A62E00D8D93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>943C80341708F23900D8D93E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>943F998A1707D51100270E89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>943F99B21707DF3700270E89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>945E42FA1517F2B500057D08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9479664E15EDE645004316AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A224321707537F00098DA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A224421707539D00098DA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A22452170753C800098DA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A22462170753D500098DA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A22472170753E100098DA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A224821707541E00098DA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A224921707542A00098DA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A224A21707543600098DA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A224B21707544100098DA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A224C21707544B00098DA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A224D21707556D00098DA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A224E21707559100098DA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94A224F51707596100098DA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94BE9E4F171683E000AB08E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94D7E8C815073BA000FBDD85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C646574713771F12002A4F70</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6480FC013648F670094FA33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C64BB08C136478E600C1AB23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C671180E136368330034379A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6B947AE1364ECA600A425F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6B947E51365080B00A425F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
